<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/build.min.css?v=1.7">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <title></title>
</head>
<body class="fuzzy-{{ skin }}-skin">
<div id="progress" class="progress">
    <div class="indeterminate"></div>
</div>
<div class="spinner-container valign-wrapper">
    <div class="spinner-double-wave-in"></div>
</div>

<header class="navbar-fixed">
    <nav>
        <div class="container">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">word2vec</a>
            </div>
        </div>
    </nav>
</header>

<section id="hero" class="hero full-height valign-wrapper scrollspy">
    <h1 class="center">{{ word }}</h1>
</section>
<section id="services" class="services scrollspy">
    <div class="container">
        <h2><span>Services</span></h2>
        <h3>Our capabilities</h3>
        <div class="row big-icons-row service-items center">
            <div class="col s12 m6 l4 padding-bottom">
                <div class="square">
                    <div class="content">
                        <i class="icon-basic-elaboration-smartphone-heart"></i>
                        <div class="description">
                            <h4>User always comes first</h4>
                            <p class="flow-text">When designing a product, we always think of how the user is going to
                                experience it.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4 padding-bottom">
                <div class="square">
                    <div class="content">
                        <i class="icon-basic-elaboration-message-happy"></i>
                        <div class="description">
                            <h4>Reliable support</h4>
                            <p class="flow-text">No matter what you're stuck with, our support team will respond in the
                                most adequate manner.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4 padding-bottom">
                <div class="square">
                    <div class="content">
                        <i class="icon-basic-lightbulb"></i>
                        <div class="description">
                            <h4>Easy to realize your ideas</h4>
                            <p class="flow-text">Your fantasy is the limit here. Using our elements you can make
                                anything come true.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4 padding-bottom">
                <div class="square">
                    <div class="content">
                        <i class="icon-basic-lock"></i>
                        <div class="description">
                            <h4>Completely secure</h4>
                            <p class="flow-text">We don't take cyber security lightly, that's why our team put a lot of
                                effort into securing this app.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4 padding-bottom">
                <div class="square">
                    <div class="content">
                        <i class="icon-basic-bolt"></i>
                        <div class="description">
                            <h4>Swift performance</h4>
                            <p class="flow-text">Powered by Materialize, this theme doesn't require page reloads,
                                providing a seamless user experience.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4 padding-bottom">
                <div class="square">
                    <div class="content">
                        <i class="icon-software-eyedropper"></i>
                        <div class="description">
                            <h4>Beautifully designed</h4>
                            <p class="flow-text">Hand crafted with material design principles, with a focus on
                                readability and white spaces.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">&copy; 2017 Слимов Никита</div>
    </div>
</footer>
<script src="/static/js/jquery-2.1.1.min.js"></script>
<script src="/static/js/materialize.min.js"></script>
<script src="/static/js/app.js?v=1.0"></script>
<script src="/static/js/skins/min/fuzzy-{{ skin }}.min.js"></script>
</body>
</html>