<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/build.min.css?v=1.7">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <title></title>
</head>
<body class="{{ skin }}-skin">
<div id="progress" class="progress">
    <div class="indeterminate"></div>
</div>
<div class="spinner-container valign-wrapper">
    <div class="spinner-double-wave-in"></div>
</div>

<header class="navbar-fixed">
    <nav>
        <div class="container">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">word2vec</a>
            </div>
        </div>
    </nav>
</header>

<section id="hero" class="hero full-height valign-wrapper scrollspy">
    <h1 class="center">{{ word }}</h1>
</section>
<section id="services" class="blog scrollspy">
    <div class="container">
        <h2><span>Контекстные "соседи"</span></h2>
        <div class="row">
            <div class="flow-text social huge center">
                {% for w in words %}
                    <a href="/word/{{ w.id }}" class="col s6 m4 l3 waves-effect waves-light {{ loop.cycle('github', 'facebook', 'googleplus', 'linkedin', 'vk', 'pinterest', 'twitter', 'dribbble') }}">
                    <div class="rectangle">
                        <div class="content valign-wrapper">{{ w.name }} <sup> {{ w.percent }}%</sup></div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">&copy; 2017 Слимов Никита</div>
    </div>
</footer>
<script src="/static/js/jquery-2.1.1.min.js"></script>
<script src="/static/js/materialize.min.js"></script>
<script src="/static/js/app.js?v=1.0"></script>
<script src="/static/js/skins/min/{{ skin }}.min.js"></script>
</body>
</html>